# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Node
node_modules/
dist/
dist-ssr/
build/
.next/
.vite/
*.log

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Local cache
.cache/
tmp/
